body {
    background-color : Black;
    background-image : url("imgs/bg1.png");
    background-repeat : no-repeat;
    text-align : left;
    height : 80%;
    width: 100%;
    font-family: 'Bitter', serif;
    color: #FFFAFA;
    font-size : 20px;
  }
  h2 {
   text-align : left;
   color : #00CED1 ;
  }